<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{$Think.lang.TPL_welcome}</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="__PUBLIC____MODULE__/styles/ruis-common.css">
</head>
<body>
<div class="dMain">
    <div class="ifrTitle yh">
        <div class="mark">门店管理</div>
        <div class="subMark">
            <a href="{:U('add')}" class="aButtonA w110 fl">添加门店</a>
        </div>
    </div>

    <form id="form" method="post">
        <input id="itemID" name="itemID" type="hidden">

        <div class="dList">
            <ul class="dListMark">
                <li class="tal" data-width="23" data-paddingL="1">门 店</li>
                <li class="tal" data-paddingL="1">电 话</li>
                <li class="tal" data-width="28" data-paddingL="1">地 址</li>
                <li data-width="6">人 均</li>
                <li data-width="6">状 态</li>
                <li>时 间</li>
                <li class="bgNone" data-width="14">操 作</li>
            </ul>
            <div class="dSlide">
                <volist name="list" id="vo">
                    <ul>
                        <li class="tal" data-width="23" data-paddingL="1">
                            <input type="hidden" name="singleID[]" value="{$vo.id}" class="checkbox">
                            <img src="/Uploads/Images/{$Think.CONTROLLER_NAME}/{$vo.upfile}">
                            {$vo.title}
                        </li>
                        <li class="tal" data-paddingL="1">{$vo.telephone}</li>
                        <li class="tal" data-width="28" data-paddingL="1">{$vo.address|subtext=40}</li>
                        <li data-width="6">{$vo.per_capita}</li>
                        <li data-width="6"><eq name="vo.status" value="1"><strong class="cGreen">启动</strong><else/>未启动</eq></li>
                        <li>{$vo.create_time|date='Y-m-d',###}</li>
                        <li data-width="14">
                            <a class="aModify" href="{:U('edit')}"></a>
                        </li>
                    </ul>
                </volist>
            </div>
        </div>
    </form>

    <notempty name="list">
        <div class="dPageBox">
            <div class="dPage fr">
                <form id="formPage">
                    {$page}
                    <notempty name="page">
                        <em>到第<input name="p" type="text">页</em>
                        <a class="aSubmit" href="javascript:void(0)">{$Think.lang.TPL_btn_confirm}</a>
                    </notempty>
                </form>
            </div>
        </div>
    </notempty>
</div>

<!-- JavaScript -->
<script src="__PUBLIC__/Static/scripts/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC____MODULE__/scripts/ruis-common.js"></script>
</body>
</html>