<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{$Think.lang.TPL_welcome}</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="__PUBLIC____MODULE__/styles/ruis-common.css">
</head>
<body>
<div class="dMain">
    <div class="ifrTitle yh">
        <div class="mark">操作授权</div>
    </div>

    <form id="form">
        <notempty name="list">
            <volist name="list" id="vo">
                <div class="dList dImpower">
                    <ul class="dListMark">
                        <li class="bgNone" data-width="3" data-paddingL="2"><input type="checkbox" class="checkbox ckAll"></li>
                        <li class="tal" data-width="95">{$key}</li>
                    </ul>
                    <ul>
                        <volist name="vo" id="child">
                            <li data-width="3" data-paddingL="2"><input type="checkbox" name="singleID[]" value="{$child.id}" class="checkbox" <in name="child.id" value="$checked">checked</in>></li>
                            <li class="tal" data-width="20"><label>{$child.title}</label></li>
                        </volist>
                    </ul>
                </div>
            </volist>
        </notempty>
        <ul>
            <li class="liSave">
                <a href="{:U('accessSave')}" class="aButtonB w110 formSub fr">{$Think.lang.Tpl_btn_keep}</a>
            </li>
        </ul>
        <input name="id" type="hidden" value="{$Think.get.id}">
        <input id="itemID" name="rules" type="hidden" value="{$checked}">
    </form>
</div>

<!-- JavaScript -->
<script src="__PUBLIC__/Static/scripts/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC____MODULE__/scripts/ruis-common.js"></script>
<script>
    $(".dImpower").each(function() {
        if($(this).find("ul").eq(1).find("li").length % 8 == 2) {
            $(this).find("ul").eq(1).append('<li data-width="3" data-paddingL="2"></li><li data-width="20"></li><li data-width="3" data-paddingL="2"></li><li data-width="20"></li><li data-width="3" data-paddingL="2"></li><li data-width="20"></li>');
        }else if($(this).find("ul").eq(1).find("li").length % 8 == 4) {
            $(this).find("ul").eq(1).append('<li data-width="3" data-paddingL="2"></li><li data-width="20"></li><li data-width="3" data-paddingL="2"></li><li data-width="20"></li>');
        }else if($(this).find("ul").eq(1).find("li").length % 8 == 6) {
            $(this).find("ul").eq(1).append('<li data-width="3" data-paddingL="2"></li><li data-width="20"></li>');
        }
    });
    $(".ckAll").each(function() {
        $(this).click(function() {
            $(this).parent().parent().parent().find("input:checkbox[name='singleID[]']").prop("checked", this.checked);
            var id = '';
            $("input:checkbox[name='singleID[]']:checked").each(function(){
                id += $(this).val()+',';
            });
            if(id.length > 0) { id = id.substring(0,id.length - 1);}
            $("#singleId").val(id);
        });
        $(this).parent().parent().parent().find("input:checkbox[name='singleID[]']").each(function() {
            $(this).click(function() {
                var length = $(this).parent().parent().parent().find("input:checkbox[name='singleID[]']").length;
                var checked = $(this).parent().parent().parent().find("input:checkbox[name='singleID[]']:checked").length;
                if(checked != length){ $(this).parent().parent().parent().find(".ckAll").prop("checked",false);}
                var id = '';
                $("input:checkbox[name='singleID[]']:checked").each(function(){
                    id += $(this).val()+',';
                });
                if(id.length > 0) { id = id.substring(0,id.length - 1);}
                $(".singleId").val(id);
            });
        });
    });

    /* formSub submit */
    $(".formSub").click(function() {
        formAjaxEdit("POST", $(this).attr("href"), $("#form"));
        return false;
    });
</script>
</body>
</html>