<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{$Think.lang.TPL_welcome}</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="__PUBLIC____MODULE__/styles/ruis-common.css">
</head>
<body>
<div class="dMain">
    <div class="ifrTitle yh">
        <div class="mark">管理员分组</div>
    </div>

    <form id="form">
        <notempty name="list">
            <div class="dList dImpower" style="border-top:none;">
                <ul>
                    <volist name="list" id="vo">
                        <li data-width="3" data-paddingL="2">
                            <input type="checkbox" name="singleID[]" value="{$vo.id}" class="checkbox" <in name="vo.id" value="$checked">checked</in>>
                        </li>
                        <li class="tal" data-width="20"><label>{$vo.username}</label></li>
                    </volist>
                </ul>
            </div>
        </notempty>
        <ul>
            <li class="liSave">
                <a href="{:U('memberSave')}" class="aButtonB w110 formSub fr">{$Think.lang.Tpl_btn_keep}</a>
            </li>
        </ul>
        <input name="id" type="hidden" value="{$Think.get.id}">
        <input id="itemID" name="itemID" type="hidden" value="{$checked}">
    </form>
</div>

<!-- JavaScript -->
<script src="__PUBLIC__/Static/scripts/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC____MODULE__/scripts/ruis-common.js"></script>
<script>
    $(".dImpower").each(function() {
        if($(this).find("ul").eq(0).find("li").length % 8 == 2) {
            $(this).find("ul").eq(0).append('<li data-width="3" data-paddingL="2"></li><li data-width="20"></li><li data-width="3" data-paddingL="2"></li><li data-width="20"></li><li data-width="3" data-paddingL="2"></li><li data-width="20"></li>');
        }else if($(this).find("ul").eq(0).find("li").length % 8 == 4) {
            $(this).find("ul").eq(0).append('<li data-width="3" data-paddingL="2"></li><li data-width="20"></li><li data-width="3" data-paddingL="2"></li><li data-width="20"></li>');
        }else if($(this).find("ul").eq(0).find("li").length % 8 == 6) {
            $(this).find("ul").eq(0).append('<li data-width="3" data-paddingL="2"></li><li data-width="20"></li>');
        }
    });

    /* formSub submit */
    $(".formSub").click(function() {
        formAjaxEdit("POST", $(this).attr("href"), $("#form"));
        return false;
    });
</script>
</body>
</html>