<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta id="twcClient" content="false" name="twcClient"/>
    <title>{$vo.nick_name}靠脸吃饭啦~</title>
    <!-- External CSS -->
    <link href="__PUBLIC____MODULE__/styles/common.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="form_body">
    <div class="share_header">
        <div class="head">
            <notempty name="vo.user_upfile_head"><img src="{$vo.user_upfile_head}"></notempty>
        </div>
        <p><span>{$vo.nick_name}</span><eq name="vo.sex" value="1"><i></i><else/><i class="icon_girl"></i></eq></p>
        <p class="city">{$vo.province} {$vo.city}</p>
    </div>
    <div class="share_img">
        <notempty name="vo.upfile">
            <img src="/Uploads/Images/Topic/{$vo.upfile}">
        </notempty>
    </div>
    <div class="share_txt">
        <div class="icon"></div>
        <ul>
            <li>{$vo.content}</li>
            <li class="time">{$vo.create_time|date='Y-m-d H:i',###}</li>
        </ul>
    </div>
    <div class="share_btn">
        <div class="logo"><img src="__PUBLIC____MODULE__/images/logo.jpg"></div>
        <div class="txt">
            <p>浏览更多同城高颜值照片<br/>请下载颜之惠APP！</p>
            <p class="iTxt">一个攒颜币免单的APP</p>
        </div>
        <div class="btn"><a href="#">立即下载</a></div>
    </div>
</div>

<script src="__PUBLIC__/Static/scripts/jquery-1.11.3.min.js"></script>
<script>
    $(function(){
        $('.share_img').css('height' , $('.share_img').width());

        var u = navigator.userAgent, app = navigator.appVersion;
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        if(isiOS){
            href = "{$vo.data_setting.down_link_ios}";
        }else{
            href = "{$vo.data_setting.down_link_android}";
        }
        if(href){
            $('.share_btn .btn a').attr('href', href)
        }
    })
</script>
</body>
</html>