<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{$Think.lang.TPL_welcome}</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="__PUBLIC____MODULE__/styles/ruis-common.css">
</head>
<body>
<div class="dMain">
    <div class="ifrTitle yh">
        <div class="mark">
            修改密码
        </div>
    </div>

    <div class="dEdit">
        <form id="formEdit" autocomplete="off">
            <ul>
                <li class="liTit"><i class="cRed">* </i>旧密码</li>
                <li class="liCon"><input class="inputTxt w310 fl" name="oldpassword" type="password"
                                         value="{$vo.title}"></li>
            </ul>
            <ul>
                <li class="liTit"><i class="cRed">* </i>新密码</li>
                <li class="liCon"><input class="inputTxt w310 fl" name="password" type="password" value="{$vo.title}">
                </li>
            </ul>
            <ul>
                <li class="liTit"><i class="cRed">* </i>确认新密码</li>
                <li class="liCon"><input class="inputTxt w310 fl" name="repassword" type="password" value="{$vo.title}">
                </li>
            </ul>
            <ul>
                <li class="liSave">
                    <a href="{:U('update_password')}" class="aButtonB w110 formSub">{$Think.lang.Tpl_btn_keep}</a>
                </li>
            </ul>
        </form>
    </div>
</div>

<!-- JavaScript -->
<script src="__PUBLIC__/Static/scripts/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC____MODULE__/scripts/ruis-common.js"></script>
</body>
</html>