<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{$Think.lang.TPL_welcome}</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="__PUBLIC____MODULE__/styles/ruis-common.css">
</head>
<body>
<div class="dMain">
    <div class="ifrTitle yh">
        <div class="mark">
            <eq name='ACTION_NAME' value='add'>添加<else />修改</eq>管理员
        </div>
    </div>

    <div class="dEdit">
        <form id="formEdit" autocomplete="off">
            <input name="id" type="hidden" value="{$vo.id}">
            <ul>
                <li class="liTit"><i class="cRed">* </i>用户名</li>
                <li class="liCon"><input class="inputTxt w310 fl" name="username" type="text" value="{$vo.username}"></li>
            </ul>
            <ul>
                <li class="liTit"><i class="cRed">* </i>密 码</li>
                <li class="liCon">
                    <input class="inputTxt w310 fl" name="password" type="password">
                    <eq name='ACTION_NAME' value='edit'><span class="cGray fl ml10">{$Think.lang.TS_change_password}</span></eq>
                </li>
            </ul>
            <ul>
                <li class="liSave">
                    <eq name='ACTION_NAME' value='add'>
                        <a href="{:U('insert')}" class="aButtonB w110 formSub">{$Think.lang.Tpl_btn_keep}</a>
                        <else />
                        <a href="{:U('update')}" class="aButtonB w110 formSub">{$Think.lang.Tpl_btn_keep}</a>
                    </eq>
                </li>
            </ul>
        </form>
    </div>
</div>

<!-- JavaScript -->
<script src="__PUBLIC__/Static/scripts/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC____MODULE__/scripts/ruis-common.js"></script>
</body>
</html>