<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{$Think.lang.TPL_welcome}</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="__PUBLIC____MODULE__/styles/ruis-common.css">
</head>
<body>
<div class="dMain">
    <div class="ifrTitle yh">
        <div class="mark">查看用户</div>
    </div>

    <div class="dEdit">
        <form id="formEdit" autocomplete="off">
            <input name="id" type="hidden" value="{$vo.id}">
            <ul>
                <li class="liTit">用户 ID</li>
                <li class="liCon">{$vo.id}</li>
            </ul>
            <ul>
                <li class="liTit">用户昵称</li>
                <li class="liCon">{$vo.nick_name}</li>
            </ul>
            <ul>
                <li class="liTit">用户头像</li>
                <notempty name="vo.upfile_head">
                    <li class="liCon"><img src="{$vo.upfile_head}" height="100"></li>
                </notempty>
            </ul>
            <ul>
                <li class="liTit">需要认证头像</li>
                <li class="liCon"><img src="/Uploads/Images/User/{$vo.upfile_head_auth}" height="100"></li>
            </ul>
            <ul>
                <li class="liTit">认证操作</li>
                <li class="liCon radio">
                    <dd><input name="upfile_head_auth_type" type="radio" value="1" checked>通过</dd>
                    <dd><input name="upfile_head_auth_type" type="radio" value="3">不通过</dd>
                </li>
            </ul>
            <ul>
                <li class="liSave">
                    <a href="{:U('update')}" class="aButtonB w110 formSub">{$Think.lang.Tpl_btn_keep}</a>
                </li>
            </ul>
        </form>
    </div>
</div>

<!-- JavaScript -->
<script src="__PUBLIC__/Static/scripts/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC____MODULE__/scripts/ruis-common.js"></script>
</body>
</html>